.grid-container{
    display: grid;
    background-color: aqua;
    grid-template-columns: repeat(6, 1fr);
}

.grid-item{
    background-color: rgb(29, 29, 29);
        text-align: center;
        border: 3px solid rgb(77, 77, 77);
        padding: 4vh;
        font-size: 3vh;
        display: inline-block;
        font-family: Helvetica, sans-serif;
        color: white;
}

.big-text{
    font-family: cursive, monospace;
    text-align: center;
        font-size: 650%;
        color: antiquewhite;
        text-shadow:
            -4px -4px 0 rgb(56, 56, 56),
            4px -4px 0 rgb(56, 56, 56),
            -2px  2px 0 rgb(56, 56, 56),
            2px  2px 0 rgb(56, 56, 56);
}

body{
    background-color: black;
}