.grid-container{
    display: grid;
    background-color: aqua;
    grid-template-columns: repeat(6, 1fr);
}

.grid-item{
    background-color: rgb(29, 29, 29);
        text-align: center;
        border: 3px solid rgb(77, 77, 77);
        padding: 4vh;
        font-size: 3vh;
        display: inline-block;
        font-family: Helvetica, sans-serif;
        color: white;
}